/local.properties
/server/server.properties
/server/plugins/
/server/version_history.json
/server/usercache.json
/server/ops.json
/server/spigot.yml
/server/world_the_end/
/server/logs/
/server/bukkit.yml
/server/banned-ips.json
/server/whitelist.json
/server/world_nether/
/server/world/
/server/paper.yml
/server/cache/
/server/permissions.yml
/server/commands.yml
/server/banned-players.json
/server/help.yml
